*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


body {
	background: url('../../img/wallpaper3.png') no-repeat;
	background-position: top -100px left;
}

.site-container {
	width:960px;
	height:400px;
	background:black;
	margin: 25px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	text-indent:10px;
}

/* Metro Box Sizings */

.metro-box {
	height:200px;
	display: inline-block;
	background:grey;
	float:left;
	margin-left:10px;
	margin-top:10px;
}

.metro-box-25 {
	width:200px;
}

.metro-box-50 {
	width:465px;
}

.metro-box-75 {
	width:730px;
}

.metro-box-100 {
	width:940px;
}